.Course {
    width: 100%;
    height: max-content;
    font-size: 2rem;
    padding: 1.5rem; 
    border: solid 3px #309c8a; 
    border-radius: 1rem;
    transition: all .2s;
    cursor: pointer;

    &:hover {
        transform: scale(1.03);
    }

    h3 {
        font-size: 2.2rem;
    }

    .summary {
        font-size: 1.6rem;
        font-weight: 300;
        font-style: italic;
    }

    h4 {
        background-color: #ccc;
        border-radius: 5px;
        padding: 5px;
    }

    span {
        font-weight: 700;
    }
}