.Button {
    padding: 1.5rem;
    height: 6rem;
    background-color: #00ccc4;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    position: absolute;
    margin-right: 2rem;
    border-radius: 1rem;
    vertical-align: middle;
    line-height: 0.1rem;
    border-color: #fff;
    border-width: 0.3rem;
    font-weight: bold;
}
.Button:hover {
    background-color: #00a8c9;
}
