.Footer {
    color: white;
    background: #309c8a;    
    grid-area: footer;
    grid-row: row3;
    height: 10rem;   
    .FooterText{
        color: white;
        font-weight: normal;
    }
    .FooterImage{
        display: inline-flex;
        margin-right: auto;
        height: 100%;
    }
    img {
        height: 100%;
        width: 10rem;
    }
}