.Footer {
    display: flex;
    flex: 0 0 auto;
    color: white;
    background: #309c8a;  
    height: 10rem;  
    .FooterText{
        color: white;
        font-weight: normal;
        position: absolute;
        margin-left: 15%;
    }
    .FooterImage{
        display: inline-flex;
        background-color: #309c8a;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        height: 50%;
        width: 5rem;
        background-color: #309c8a;
    }
}
