html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 1.6;
    color: #000;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a, button {
    font: inherit;
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    border: none;
    text-align: inherit;
}

button:hover {
    cursor: pointer;
}

.center-content {
    max-width: 1140px;
    margin: 0 auto;
}
